/*using styling from class for now so I can see what I'm doing*/

* { 
  box-sizing: border-box;
}

body {
  background:radial-gradient(#8b4680, #fff) fixed;

}

header {
  background: #8f18ad55;
  width: 100%;
}

nav {
  max-width:  900px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  
}

nav ul {
  margin: auto;
  display: block;
  max-width: 660px;
}

main{
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

main > *{
  float:left;
}

main > :nth-child(odd){
  width:25%
}

main > :nth-child(2){
  width: 50%;
}

main ul, main li {
  padding: 0;
  margin: 10px 0;
}

aside { 
  padding-left: 30px;
}

img {
  max-height: 300px;
  max-width: 100%;
  margin: 0 auto;
}

li {
  display: inline-block;
  list-style: none;
  margin: 20px 40px 20px 0px;
  font-size: 1.2em;
  
}

footer {
  background: #8f18ad55;
  width: 100%;
  height: 100px;
  clear:  both;
}

footer div {
  max-width: 900px;
  margin: 0 auto;
}

section div {
  padding: 7px;
  box-sizing: border-box;
  float: left;
  width: 50%;
}


#leftP, #middleP, #rightP {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

img {
  box-shadow: 5px 10px 15px white;
  border-radius: 100px;
}

img:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(-1px, 0px) rotate(5deg); }
  15% { transform: translate(1px, 2px) rotate(10deg); }
  30% { transform: translate(1px, 0px) rotate(0eg); }
  /* 50% { transform: translate(4px, 3px) rotate(1deg); }
  65% { transform: translate(2px, 0px) rotate(2deg); }
  80% { transform: translate(0px, 3px) rotate(0deg); }
  100% { transform: translate(-2px, 2px) rotate(1deg); }
  15% { transform: translate(4px, 2px) rotate(0deg); }
  30% { transform: translate(0px, 0px) rotate(2deg); }
  50% { transform: translate(2px, 2px) rotate(1deg); }
  65% { transform: translate(2px, -1px) rotate(0deg); }  */
}




#chartDiv {
  /* height: 900px;
  width: 900px;
  position: relative;
  left: 700px; */
  margin: 0 auto;

}